.reveal pre code {
    max-height: 600px !important;
}

.reveal pre.wrap code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
dl {
    text-align: left;
}
dl dd {
    padding-left: 2em !important;
}
dl dt {
    margin-top: .5em !important;
}
table {
    width: 100%;
    border: 1px solid white !important;
}
