.reveal pre code {
    max-height: 600px !important;
}
dl {
    text-align: left;
}
dl dd {
    padding-left: 2em !important;
}
dl dt {
    margin-top: .5em !important;
}
table {
    width: 100%;
    border: 1px solid white !important;
}
