<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Hotels</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Des hotels</a>
            </div>
        </div>
    </div>
    <div id="layout" class="container">
    <div class="row">
        <div id="sidebar" class="col-md-4">
            <ul id="sidebar-menu" class="nav nav-pills nav-stacked">
            </ul>
        </div>

        <div id="content" class="col-md-8">
            Welcome to my hotels list.
        </div>
    </div>
    </div>

    <!-- Backbone templates -->
    <script type="text/template" id="tpl-city-item">
    <a href="/cities/<%= _id %>"><%= name %></a>
    </script>

    <script type="text/template" id="tpl-city-detail">
    <h1><%= name %></h1>
    <p><%= description %></p>
    <ul class="hostels">
        <% _.each(hostels, function(hostel) { %>
        <li>
            <a href="/cities/<%= _id %>/hostels/<%= hostel._id %>"><%= hostel.name %></a>
        </li>
        <% }); %>
    </ul>
    </script>

    <!-- Js libraries -->
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>

    <!-- Local JS files -->
    <script src="js/app/config.js"></script>
    <script src="js/app/models.js"></script>
    <script src="js/app/views.js"></script>
    <script src="js/app/router.js"></script>
    <script src="js/app/app.js"></script>
    </body>
</html>
